# Xcode
*.xcodeproj/project.xcworkspace/
*.xcodeproj/xcuserdata/
xcuserdata/
DerivedData/
*.xcscmblueprint
*.xccheckout
build/

# macOS
.DS_Store
*.swp
*~.nib

# Claude
.claude/

# CocoaPods
Pods/

# Swift Package Manager
.build/
Package.resolved

# Fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
